@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html {
  background-color: #333;
}

.App {
  background-color: #333;
  color: white;
  height: 100vh;
  padding: 1rem;
  font-size: 24px;
  font-family: "VT323", monospace;
  color: greenyellow;
}

.show {
  display: block;
}

.hide {
  display: none;
}

input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  font-size: 24px;
  font-family: "VT323", monospace;
  color: greenyellow;
}

.terminal {
  white-space: pre-line;
  padding: 0;
}

.column {
  float: left;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
  display: flex;
  justify-content: center;
}

.information-box {
  height: auto;
  width: 400px;
  border: dashed 2px greenyellow;
}

.information-header {
  height: 40px;
  border-bottom: dashed 2px greenyellow;
}

.custom-h2 {
  margin-top: 4px;
  margin-left: 8px;
  padding: 0;
}

.commands {
  display: flexbox;
}

.custom-h4 {
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 8px;
  padding: 0;
}

.prompt {
  margin: 0px;
  margin-bottom: 8px;
  padding: 0;
}

/* about-me */
.line-1 {
  position: relative;
  top: 50%;
  width: 20em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 2s steps(24) 1s 1 normal both,
    blinkTextCursor 500ms steps(24) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
